.test {
  display: inline-block;
  background-color: #f5e9dc;
  padding: 10px;
  border-radius: 10px;
}

  .dynamic-container {
    display: inline-flex;
    padding: 10px;
    border-radius: 10px;
    background-color: lightblue;
  }